:root {
  --white: #FFFFFF;
  --black: #000000;
  --secondary: #BD76FF;
  --primary: #5F0080;
  --content: #333333;
 
  --gray50 : #F9F9F9;
  --gray100 : #E1E1E1;
  --gray200 : #C4C4C4;
  --gray300 : #A6A6A6;
  --gray400 : #898989;
  --gray500 : #6B6B6B;
  --gray600 : #565656;
  --gray700 : #404040;
  --gray800 : #2B2B2B;
  --gray900 : #151515;

  --accent : #FA622F;

  --blue100 : #CCE0FF;
  --blue200 : #99C2FF;
  --blue300 : #66A3FF;
  --blue400 : #3385FF;
  --blue500 : #0066FF;
  --blue600 : #0052CC;
  --blue700 : #003D99;
  --blue800 : #002966;
  --blue900 : #001433;

  --info : #F03F40;

}