@import url(./reset.css);
@import url(./normalize.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

/* 숨김 컨텐츠 */
.a11y-hidden,
legend {
  background-color: red;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

html {
  font-size: 16px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* 공통 바디 스타일 */
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 공통 */
.center {
  display: flex;
  /* justify-content: center; */
  text-align: center;
  width: 1050px;
  margin: 0 auto;
  /* margin: 0 435px; */
}
/* 헤더 */
.header {
  height: 125px;
  background-color: antiquewhite;
}
/* 네비게이션 */
.navigation {
  height: 72px;
  background-color: aqua;
}
/* 메인 */
.main {
  width: 1050px;
  height: 1421px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgb(192, 227, 206);
}

/* 메인 PRODUCT SWIPER */
.special-deal-list-container,
.recommend-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  /* height: 320px; */
}

.swiper {
  /* position: relative; */
  /* padding-top: 50px; */
}

.swiper-wrapper {
  position: relative;
  display: flex;
  z-index: 1;
}

.swiper .swiper-slide {
  /* position: relative; */
  flex-direction: row;
  flex-shrink: 0;
  overflow: hidden;
}

.swiper .swiper-slide img {
  display: block;
  width: 249px;
}

.swiper-button-next {
  background: url(../assets/icons/product-list-button-next.svg) 50% 50%
    no-repeat;
  /* transform: rotate(180deg); */
  position: absolute;
  border: none;
  top: 50%;
  right: -25px;
  height: 52px;
  width: 52px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/* 메인 PRODUCT LIST */

.recommend-list-container {
  background-color: pink;
}

.special-deal-list-container {
  background-color: skyblue;
}

.recommend-product-list,
.special-deal-list-siwper {
  width: 1050px;
  margin: 40px 0 40px 0;
}
.special-price-product-list {
  /* display: flex; */
  width: 1050px;
  /* height: 601px; */
  /* display: flex-box;
  flex-direction: column;
  align-items: center; */
  background-color: skyblue;
}

.recommend-product-list-items,
.special-deal-list-swiper-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.recommend-product-title,
.special-deal-list-title {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 28.43px;
  line-height: 140%;
  color: #333333;
  margin-top: 52px;
}
.product-thumbnail {
  position: relative;
}

.product-thumbnail img {
  width: 249px;
  display: block;
}
.cart-button {
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: transparent;
  background-image: url(../assets/icons/Icon/Cart.svg);
  border: none;
  right: 15px;
  bottom: 17px;
  display: block;
}

.product-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.product-info h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-top: 16px;
  color: #333333;
}

.selling {
  font-weight: 600;
  font-size: 21.328px;
  line-height: 150%;
}

.discount-rate {
  color: #fa622f;
}

.price del {
  font-weight: 400;
  font-size: 12.003px;
  line-height: 160%;
  color: #898989;
  margin-top: 8px;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 8px;
}

.line-banner {
  margin: 40px 0 40px 0;
}

/* 푸터 */
.footer {
  height: 737px;
  background-color: beige;
}
/* 배너 */
.banner {
  background-color: bisque;
  height: 370px;
}
