@import url(./reset.css);
@import url(./normalize.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

/* 숨김 컨텐츠 */
.a11y-hidden,
legend {
  background-color: red;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

html {
  font-size: 16px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* 공통 바디 스타일 */
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 공통 */
.center {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1050px;
  margin: 0 auto;
  /* margin: 0 435px; */
}
/* 헤더 */
.header {
  height: 125px;
  background-color: antiquewhite;
}
/* 네비게이션 */
.navigation {
  height: 72px;
  background-color: aqua;
}
/* 메인 */
.main {
  height: 1421px;
  /* background-color: aquamarine; */
}

/* 메인 상품 */

.container {
  display: flex;
  flex-direction: column;
  width: 1050px;
  margin: 0 auto;
  padding: 40px 0px;
}

.todayRecommendProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 27px;
  align-items: center;
}

.aRecommend {
  /* position: relative; */
  display: flex;
  padding: 8px 0px 8px 8px;
}

.recommendText {
  color: rgb(51,51,51);
  font-size: 28px;
  line-height: 1,15;
  letter-spacing: -0.26px;
  font-weight: 500; 
}

.recommendWrapper {
  position: relative;
}

.swiper {
  /* position: relative; */
  overflow: hidden;
  width: 1050px;
}

.swiper-wrapper {
  /* position: relative; */
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: content-box;
}

.swiper-slide {
  width: 249px;
  margin-right: 18px;
}

.imgWrapper {
  height: 320px;
}

.imgWrapper img{
  position: absolute;
  inset: -100%;
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;
  background-color: rgb(238, 238, 238);
  transition: all 0.5s ease-in-out 0s;
}

.productInfo {
  /* position: relative; */
  padding: 14px 10px 0px 0px;
}

.productName {
  font-size: 16px;
  line-height: 1.45;
  font-weight: 400;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: normal;
}

.swiper-button-prev {
  background: url(/client/assets/icons/Arrow.png) 50% 50% no-repeat;
  position: absolute;
  z-index: 100;
  border: 0px;
  outline: 0px;
  width: 60px;
  height: 60px;
  top: calc(50% - 50px);
  left: 0px;
  transform: translate(-50%, -50%);
}

.swiper-button-next {
  background: url(/client/assets/icons/Arrow.png) 50% 50% no-repeat;
  position: absolute;
  z-index: 100;
  border: 0px;
  outline: 0px;
  width: 60px;
  height: 60px;
  top: calc(50% - 50px);
  right: 0px;
  transform: translate(50%, -50%) rotate(180deg);
  /* margin: auto 480px auto 0px; */
}


.swiper-button-next::after,
.swiper-button-prev::after{
  display: none;
}

/* 푸터 */
.footer {
  /* height: 737px; */
  background-color: beige;
}
/* 배너 */
.banner {
  background-color: bisque;
  /* height: 370px; */
}
