@import url(./reset.css);
@import url(./normalize.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

/* 숨김 컨텐츠 */
.a11y-hidden,
legend {
  background-color: red;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

html {
  font-size: 16px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* 공통 바디 스타일 */
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 공통 */
.center {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1050px;
  margin: 0 auto;
  /* margin: 0 435px; */
}
/* 헤더 */
.header {
  height: 125px;
  background-color: antiquewhite;
}
/* 네비게이션 */
.navigation {
  height: 72px;
  background-color: aqua;
}
/* 메인 */
.main {
  height: 1421px;
  display: flex;
  flex-direction: column;
  position: relative;
  /* background-color: aquamarine; */
}

/* 메인 상품 */
.container {
  width: 100%;
  height: 320px;
  position: relative;
}

.product_list {
  width: 1050px;
  /* position: relative; */
  padding: 50px 0;
  overflow: hidden;
}

.prev {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: dodgerblue;
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 100;
}

.next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: dodgerblue;
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 100;
}

.product_list .product-slide {
  /* position: relative; */
  flex-shrink: 0;
  overflow: hidden;
}

.product_list .product-slide img {
  width: 249px;
}

.swiper-button-next {
  background: url(/client/img/Group.png) 50% 50% no-repeat;
  height: 52px;
  width: 52px;
  position: absolute;
  top: 18%;
  right: -17px;
}

.swiper-button-prev {
  background: url(/client/img/Group.png) 50% 50% no-repeat;
  width: 52px;
  height: 52px;
  position: absolute;
  top: 18%;
  left: -42px;
  transform: rotate(180deg);
}

/* 기본 swiper-button 사라지게 하는법 */
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.main-swiper-left-button {
  border: none;
}

.main-swiper-right-button {
  border: none;
}

/* 푸터 */
.footer {
  /* height: 737px; */
  background-color: beige;
}
/* 배너 */
.banner {
  background-color: bisque;
  /* height: 370px; */
}
