@import url(./reset.css);
@import url(./normalize.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

/* 숨김 컨텐츠 */
.a11y-hidden,
legend {
  background-color: red;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

html {
  font-size: 16px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 공통 바디 스타일 */
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 공통 */
.center {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1050px;
  margin: 0 auto;
  /* margin: 0 435px; */
}
/* 헤더 */
.header {
  height: 125px;
  background-color: antiquewhite;
}
/* 네비게이션 */
.navigation {
  height: 72px;
  background-color: aqua;
}

/* 메인 */
.main {
  height: 1421px;
  background-color: aquamarine;
}

/* 메인 상품 */

.todayRecommendProduct {
  width: 1421px;
}
.todayRecommendProduct h2 {
  font-weight: 700;
  font-size: 28.43px;
  line-height: 140%;
  margin-top: 84px;
}
.today-product-list-wrap {
  display: block;
  position: relative;
  background: green;
}
.productList {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 0;
  list-style-type: none;
  margin-top: 40px;
  background: cornflowerblue;
}
.productListItem {
  margin-left: 16px;
}
.productListItem::after {
  content: "";
  display: block;
  clear: left;
}
.productThumbnail {
  position: relative;
}
.productThumbnail img {
  width: 249px;
  display: block;
}

.cartButton {
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: transparent;
  background-image: url(../assets/icons/Icon/Cart.svg);
  border: none;
  right: 15px;
  bottom: 17px;
  display: block;
}
.cartButton > img {
  width: 45px;
  height: 45px;
  display: block;
}

.productInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.productInfo > h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-top: 16px;
}

.selling {
  font-weight: 600;
  font-size: 21.328px;
  line-height: 150%;
}

.discountRate {
  color: #fa622f;
  margin-left: 8px;
}

.price del {
  font-weight: 400;
  font-size: 12.003px;
  line-height: 160%;
  color: #898989;
  margin-top: 8px;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 8px;
}
/* .productContainer {
  position: relative;
  display: flex;
  background-color: red;
} */
.productListButtonPrev,
.productListButtonNext {
  width: 50px;
  height: 50px;
  border: none;
  position: absolute;
  cursor: pointer;
  display: block;
}

.productListButtonPrev {
  /* top: 213px; */
  background-image: url(../assets/icons/product-list-button-prev.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50px 50px;
}
.productListButtonNext {
  /* top: 213px; */
}

/* 최근 본 상품  */

.recentProduct {
  background: palevioletred;
}
.recent-product-swiper-container {
  background: white;
  width: 74px;
  height: 223px;

  border: 1px solid #c4c4c4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  gap: 8px;
  position: relative;
}

.recentProductItem img {
  width: 40px;
  display: block;
}

.recent-product-swiper-wrap {
  box-sizing: border-box;
}

.recent-product-button-top .recent-product-button-bottom {
  width: 18px;
  height: 18px;
  position: absolute;
}

.recent-product-button-top {
  top: 50px;
}
.recent-product-swiper-container h2 {
  font-weight: 600;
  font-size: 12.003px;
  line-height: 150%;
}
.recent-product-list-wrap {
  display: block;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 40px;
  height: 129px;
  background: yellowgreen;
}

/* 푸터 */
.footer {
  height: 737px;
  background-color: beige;
}
/* 배너 */
.banner {
  background-color: bisque;
  height: 370px;
}
