@import url(./reset.css);
@import url(./normalize.css);
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/* 숨김 컨텐츠 */
.a11y-hidden, legend {
  background-color: red;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

html {
  font-size: 16px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 기본 스타일 */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 공통 바디 스타일 */
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 공통 */
.center{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1050px;
  margin:0 auto;
 /* margin: 0 435px; */
}
/* 헤더 */
.header{
  height: 125px;
  background-color: antiquewhite;
}
/* 네비게이션 */
.navigation{
  height: 72px;
  background-color: aqua;
}
/* 메인 */
.main{
  height: 1421px;
  background-color: aquamarine;
}

/* 푸터 */
.footer{
  height:737px;
  background-color: beige;
}
/* 배너 */
/* .banner{
  background-color: bisque;
  height: 370px;
} */

/* @import url(./lineBanner.css);
@import url(./popup.css); */

/* 라인배너 css */
.lineBanner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 219px;
}

.lineBanner1{
  width: 1050px;
  max-height: 100%;
}


/* 팝업 css */
.popup{
  /* background-color: rgb(33, 19, 92); */
  display: flex;
  flex-flow:column;
  justify-content: center;
  text-align: center;
  top:0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.popupLink{
  cursor: pointer;
}

.popupImg{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.popupButton{
    margin: -3px auto;
    width: 440px;
    height: 86px;
    display: flex;

}
  
.popupButtonLeft{
    background-color: rgb(255, 255, 255);
    border: none;
    flex: 1;
    width: 50%;
    cursor: pointer;
    border-bottom-left-radius: 20px;
  }
  
  .popupButtonRight{
    background-color: rgb(255, 255, 255);
    flex: 1;
    border: none;
    border-left: 2px solid rgba(0, 0, 0, 0.122);
    width: 50%;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    display: inline;
}