@import url(./reset.css);
@import url(./normalize.css);
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url(./color.css);
@import url(./fontello.css);

/* 숨김 컨텐츠 */
.a11y-hidden,
legend {
  background-color: red;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

html {
  font-size: 16px;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    display:none;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* 공통 바디 스타일 */
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 공통 */
.new::after{
  content:'N';
  position: relative;
  margin-left:3px;
  top:-20px;
  color:#FA622F;
  font-size: 7px;
  font-weight: 900;
}

.center{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 1050px;
  margin: 0 auto;
  /* margin: 0 435px; */
}

/* 공통버튼 */
button {
  font-size: 14px;
  color: #333;
  cursor: pointer;
  text-transform: none;
  background-color: transparent;
  font: inherit;
  margin: 0;
}

/* 탑 광고*/

input:focus{
  outline:none;
}
.topAd{
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
 
  background-color: #5F0080;
  height: 50px;
  
}
.topAd a{
  
  text-align: center;
  width: 100%;
  font-size: 16px;
  color: #FFFFFF;
}


.adClose{
  right:22%;
  position: absolute;
  z-index: 100;
 cursor: pointer;
 border: none;
 background-color: inherit;
}
/* 헤더 */

.header{
  padding-top: 12px;
  font-family: 'Pretendard';
  font-size: 21.328px;

  position: relative;
  display: flex;
  justify-content: space-between;
  height: 125px;
}

.mainNavigation{
  padding:0;
  gap:12px;
  font-weight: 600;
  display: flex;
  color: #898989;
}

/* .MainBanner li,input{
  transform : translate(0, -50%);
} */
.mainNavigation li:first-child{
  margin-top:38px;
}
.mainNavigation li:nth-child(2){
  color: #5F0080;
}
.mainNavigation li:nth-child(2)::after{
  margin-left:12px;
  color: #D9D9D9;
  font-size:16px;
  content:"ㅣ"
}
.header li{
  margin-top:45px;
}
.search{
  margin-top:20px;
  margin-left:50px;
  position: relative;
}
.search input{
 font-family: 'Pretendard';
font-style: normal;
font-weight: 400;
font-size: 21.328px;
line-height: 160%;
padding-left: 20px;
  color: #898989;;


  width:400px;
  height: 60px;
 border: 2px solid #5F0080;
 border-radius: 5px;
}
.search input:focus{
  color:black;

}
.searchButton{
  color: #5F0080;
  cursor: pointer;
  background-color: inherit;
  top:17px;
  border: 0;
  right:20px;
  position:absolute;
}
.rightNavigation{
  
  gap:12px;
  display:flex;
}
.rightNavigation a{
  font-size: 24px;
  height: 24px;
}

.rightNavigation img{
  fill: #5F0080;
}

.topNavigation{
  
  font-weight: 400;
  font-size: 12px;
  gap:6px;
  top:-28px;
  right:0;
  display: flex;
  position: absolute;
}
.topMenu li:first-child{
  color: #5F0080;
}
.topMenu :nth-child(2)::after,.topMenu li:first-child::after{
  color: 
  #D9D9D9;
  margin-left:6px;
  content:'ㅣ'
}
/* .CustomerServiceList{
  
  text-align: left;
  top:40px;
  font-size: 12px;
  z-index: 1000;
  background: #FFFFFF;
  position: relative;
  border: 1px black solid;
}
.CustomerServiceList li{
  margin-top:4px;
} */
/* 네비게이션 */
.nav-center{
  height: 72px;
  width: 1050px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;
}

.category, .small-category{
  width: 100px;
  height: 75px;
  font-weight: 600;
  line-height: 150%;
  margin: 0px;
  display: flex;
  align-items: center;
  background-color:transparent;
  border: 0;
  
}

.hamburger{
  padding-right: 12px;
}


.category-icon{
  width: 24px;
  height: 24px;
  margin: 4px 8px 4px 12px;
}

.category:hover,
.small-category:hover{
  color: var(--primary);
}

.hamburger {
  transform: translate(0, -18%);
}

.hamburger:hover{
  filter: invert(11%) sepia(100%) saturate(5229%) hue-rotate(285deg) brightness(59%) contrast(112%);
}

.category-list{
  position: absolute;
  top: 238px;
  background-color: var(--white);
  width: 247px;
  display: none;
  z-index: 100;
} 

.small-category-list {
  position: absolute;
  top: 70px;
  background-color: var(--white);
  width: 247px;
  display: none;
}

/* .category-list:hover{
  display: block;
} */
  
.category-list li:hover{
  background-color: var(--gray100);
  }

.category-menu:hover{
  color: var(--primary);
}

.category-menu{
  display: flex;
  align-items: center;
  height: 40px;
  font-weight: 600;
  line-height: 150%;
}



.menu{
  display: flex;
  justify-content: space-between;
  width: 600px;

}

.menu-list{
  width: 150px;
  font-weight: 600;
  color: var(--content);
  text-align: center;
}

.menu-list:hover{
  color: var(--primary);
  text-decoration: underline;
  
}

.delivery{
  border: 1px solid var(--gray300);
  border-radius: 40px;
  padding: 4px 8px;
  font-size: 12.003px;
  font-weight: 400;
  line-height: 160%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 9px;
}

.delivery-color{
  color: var(--primary);
}

.nav-small{
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
  position: sticky;
  top: 0;
  background: var(--white);
  z-index: 100;
}

.nav-small-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;


}

.nav-small-menu{
  display: flex;
  justify-content: space-between;
  width: 600px;
}


.nav-small-search input{
  font-weight: 400;
  font-size: 12.003px;
  line-height: 160%;
  color: var(--gray400);
  width: 170px;
  height: 36px;
  border: 2px solid var(--primary);
  border-radius: 5px;
  padding-left: 10px;


 }
 
 .nav-small-searchButton{
   color: var(--content);
   cursor: pointer;
   background-color: inherit;
   top:24px;
   border: 0;
   right:350px;
   position:absolute;
   
 }

 .rightNavigation{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}





/* 메인 */
/* · */
.main{
  background: linear-gradient(to bottom, #eee 0%, #fff 1%, #fff 100%);
  /* width: 100%; */
  width: 1050px;
  margin: 0 auto;
  /* padding-top:80px; */
}


.menu-navigation{
  background-color:#b3b3b3;
  width: 220px;
  margin-right:47px
}


.best-item{
width:783px;
height: 2924px;
position: relative;

}

.best-page-name{
height: 128px;
font-weight: 600;
font-size: 21.328px;
line-height: 150%;
display: flex;
justify-content: center;
align-items: center;

}

.best-page-main{
  display: flex;
  margin: 0 auto;
}



.bset-item-sum{
  display: flex;
  justify-content: space-between;
  height: 44px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.recommend-list{
  display: flex;
  justify-content: space-between;
}

.best-main-item-list{
width: 783px;
height: 2880px;

}

.recommend-list-name{
  color: var(--gray300);
}

.recommend-list-name:first-child{
  color: var(--black);
}

.recommend-icon{
  width: 12.6px;
  height: 12.6px;
}

.best-confirm{
  margin-left: 8px;
  margin-right: 8px;
}

.best-page-productlist {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 0;
  margin-top: 0px;
  height: 538px;
  width: 249px;
}
.best-page-productlist-item {
  margin-right: 18px;
}

.best-page-product-thumbnail {
  position: relative;
  width: 249px;
  height: 320px;
}
.best-page-product-thumbnail img {
  width: 249px;
}

.best-page-cartButton {
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: transparent;
  background-image: url(../assets/icons/Icon/Cart.svg);
  border: none;
  right: 20px;
  bottom: 17px;
}
.best-page-cartButton img {
  width: 45px;
  height: 45px;
}

.best-page-product-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 16px;
  gap: 8px;
}

.best-page-product-info h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-top: 16px;
}

.best-page-delivery-type{
color: var(--gray400);
font-weight: 600;
font-size: 12.003px;
}

.best-page-selling-price{
font-weight: 600;
font-size: 21.328px;
}

.best-page-item-explain{
font-weight: 400;
font-size: 12.003px;
line-height: 160%;
color: var(--gray400);
}


.best-page-tag{
  background: var(--gray100);
  font-weight: 600;
  font-size: 12.003px;
  line-height: 150%;
  border-radius: 4px;
  padding: 4px;
}

.best-page-tag:first-child{
  color: var(--primary);
}
.best-page-selling {
  font-weight: 600;
  font-size: 21.328px;
}

.best-page-sale {
  color: #fa622f;
}

.best-page-price {
  font-weight: 400;
  font-size: 12.003px;
  line-height: 160%;
  color: var(--gray300);
  margin-top: 8px;
  text-decoration: line-through;
}

.page-button{
  width: 232px;
  height: 32px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 275.5px;
  bottom: 80px; 
  
}

.page-move{
  border: 1px solid var(--gray100);
  width: 34px;
  height: 34px;
  font-weight: 400;
font-size: 12px;
line-height: 15px;
display: flex;
align-items: center;
padding-left: 12px;

}




/* 푸터 */
.footer {
  padding-top: 30px;
  border-top: 1px solid rgb(247,247,247);
  height:auto;
  text-align: left;
}

.footerMain {
  width : 1050px;
  margin : 0 auto;
}

.footerInner {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding-bottom: 30px;
}

.footerRight {
  display: flex;
  flex-direction: column;
}

.footerHeader {
  padding-bottom: 17px;
  font-weight: 500px;
  font-size: 20px;
  line-height: 29px;
}

.footerCall {
  display: block;
  padding-bottom: 20px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
}

.footerDay {
  margin-left: 8px;
  font-weight: normal;
  font-size: 16px;
}

.footerAsk {
  display: flex;
  flex-direction: column;
}

/* 버튼 공통 스타일 */
.askButton {
  display: block;
  width: 140px;
  height: 40px;
  border: 1px solid rgb(236,236,236);
  border-radius: 3px;
  line-height: 39px;
  text-align: center;
  margin-right: 16px;
  margin-bottom: 16px;
}

/* 디바이더 공통 스타일 */
.divider{
  margin: 0px 6px;
}

/* 설명 공통 스타일 */
.describe {
  margin-top: 2px;
  color: rgb(153,153,153);
  letter-spacing: -0.5px;
  line-height: 16.8px;
}

.footerKakao {
  display: flex;
  flex-direction: row;
}

.footerOne {
  display: flex;
  flex-direction: row;
}

.footerBig {
  display: flex;
  flex-direction: row;
}

.notMember {
  font-size: 12px;
  line-height: 18px;
  color: rgb(153,153,153);
}

.footerList {
  display: flex;
  width: 100%;
  padding-bottom: 29px;
  font-size: 14px;
}

.liList {
  margin-left: 14px;
}
.innerList1 {
  margin-left: 0px;
}


.innerList5 {
  font-weight: 500;
}

.footerConfirm {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgb(153,153,153);
  margin-bottom: 40px;
}

.confirm {
  padding-left: 4px;
}

.aConfirm {
  margin-left: 3px;
  color: rgb(95,0,128);
}

.footerImageLink {
  display: flex;
}

.aImageLink img{
  display: block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.footerBottom{
  display: flex;
  justify-content: space-between;
  padding: 26px 0px 33px;
  border-top: 1px solid rgb(238,238,238);
}

.footerBottom button {
  overflow: visible;
  background-color: transparent;
  border: none;
}

.footerBottomButton {
  display: flex;
  text-align: left;
}

.footerBottomButton img {
  width: 34px;
  margin-right: 10px;
}

.tossButton img{
  width: 102px;
  margin-right: 10px;
}

.footerButtonText {
  font-size: 10px;
  line-height: 14.5px;
  color: rgb(153,153,153);
  word-break: break-word;
}

.copyright {
  display: block;
  padding: 20px 0px 30px;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  background-color: rgb(247,247,247);
  color: rgb(153, 153, 153);
}

.copyrightEm {
  display: block;
  padding-top: 7px;
  font-style: normal;
}
/* 배너 */
.banner {
  background-color: bisque;
  height: 370px;
}
