@import url(./reset.css);
@import url(./normalize.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

/* 숨김 컨텐츠 */
.a11y-hidden,
legend {
  background-color: red;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

html {
  font-size: 16px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* 공통 바디 스타일 */
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 공통 */
.center {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1050px;
  margin: 0 auto;
  /* margin: 0 435px; */
}

/* 메인 */
.main {
  width: 1050px;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* 메인 SWIPER 1 이 상품 어때요 */

.special-deal-list-container,
.recommend-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1000;

  /* height: 320px; */
}

.swiper {
  /* position: relative; */
  /* padding-top: 50px; */
}

.swiper-wrapper {
  position: relative;
  display: flex;
  z-index: 150;
}

.swiper .swiper-slide {
  /* position: relative; */
  flex-direction: row;
  flex-shrink: 0;
  overflow: hidden;
}

.product-thumbnail img {
  display: block;
  width: 249px;
}

.recommend-list-next,
.special-deal-list-next {
  background: url(../assets/icons/arrow.svg) 54% 50% no-repeat;
  transform: translateY(-50%);
  background-color: white;
  position: absolute;
  border: none;
  top: 50%;
  right: -25px;
  height: 52px;
  width: 52px;
  z-index: 100;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.03),
    0px 0px 4px rgba(0, 0, 0, 0.08);
}

.recommend-list-prev,
.special-deal-list-prev {
  background: url(../assets/icons/arrow.svg) 54% 50% no-repeat;
  transform: translateY(-50%) rotate(180deg);
  position: absolute;
  border: none;
  background-color: white;
  top: 50%;
  left: -25px;
  height: 52px;
  width: 52px;
  z-index: 100;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.03),
    0px 0px 4px rgba(0, 0, 0, 0.08);
}

.recommend-list-next:hover,
.special-deal-list-next:hover,
.recommend-list-prev:hover,
.special-deal-list-prev:hover {
  /* background-image: url(../assets/icons/arrow\ hover.svg); */
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.284995 17.699C0.455221 17.8731 0.683135 17.9791 0.925979 17.9972C1.16882 18.0152 1.40991 17.944 1.604 17.797L1.69899 17.715L9.69899 9.89798C9.87118 9.72974 9.97689 9.50504 9.99673 9.26513C10.0166 9.02523 9.9492 8.78621 9.80699 8.59198L9.72699 8.49598L2.004 0.313979C1.82947 0.128878 1.59095 0.0172553 1.33701 0.00183905C1.08307 -0.0135772 0.832807 0.0683727 0.637168 0.231001C0.441529 0.39363 0.315228 0.62471 0.283984 0.87719C0.25274 1.12967 0.318903 1.38457 0.468997 1.58998L0.548995 1.68598L7.598 9.15498L0.300994 16.285C0.126863 16.4552 0.0208302 16.6831 0.00278759 16.926C-0.015255 17.1688 0.055932 17.4099 0.202994 17.604L0.284995 17.699Z' fill='%235F0080'/%3E%3C/svg%3E%0A");
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.18), 0px 1px 2.5px rgba(0, 0, 0, 0.08),
    0px 0px 6px rgba(0, 0, 0, 0.1);
  /* transition: 0.3s; */
}
.next::after,
.prev::after {
  display: none;
}

/* 메인 PRODUCT LIST */

.recommend-list-swiper,
.special-deal-list-siwper {
  width: 1050px;
  margin: 40px 0 40px 0;
}
.special-price-product-list {
  /* display: flex; */
  width: 1050px;
  /* height: 601px; */
  /* display: flex-box;
  flex-direction: column;
  align-items: center; */
  background-color: skyblue;
}

.recommend-list--swiper-wrapper,
.special-deal-list-swiper-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.recommend-product-title,
.special-deal-list-title {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 28.43px;
  line-height: 140%;
  color: var(--content);
  margin-top: 52px;
}
.product-thumbnail {
  position: relative;
  width: 249px;
}

.product-thumbnail img {
  display: block;
}
.cart-button {
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: transparent;
  background-image: url(../assets/icons/Icon/Cart.svg);
  border: none;
  right: 15px;
  bottom: 17px;
  display: block;
  cursor: pointer;
}
#cart1 {
  border: none;
}

.product-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.product-info h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-top: 16px;
  color: var(--content);
}

.selling {
  font-weight: 600;
  font-size: 21.328px;
  line-height: 150%;
}

.discount-rate {
  color: var(--accent);
}

.price del {
  font-weight: 400;
  font-size: 12.003px;
  line-height: 160%;
  color: var(--gray400);
  margin-top: 8px;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 8px;
}

.line-banner {
  margin: 40px 0 40px 0;
}

main .swiper-button-disabled {
  display: none;
}

.recent-product-list .swiper-button-disabled {
  opacity: 0.45;
}

/* 배너 */
.banner {
  background-color: bisque;
  height: 370px;
}
