@import url(./reset.css);
@import url(./normalize.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url(./color.css);

/* 숨김 컨텐츠 */
.a11y-hidden,
legend {
  background-color: red;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

html {
  font-size: 16px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 공통 바디 스타일 */
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  position: relative;
}

/* 공통 */
.center {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1050px;
  margin: 0 auto;
  /* margin: 0 435px; */
}
/* 헤더 */
.header {
  height: 125px;
  background-color: antiquewhite;
}
/* 네비게이션 */
.navigation {
  height: 72px;
  background-color: aqua;
}
/* 메인 */
.main {
  height: 1421px;
  background-color: aquamarine;
}

/* 최근 본 상품 영역 */

.recent-product-list {
  background: steelblue;
  position: absolute;
  right: 2%;
}

.recent-list-title {
  font-weight: 600;
  font-size: 12.003px;
  line-height: 150%;
}

.recent-list-container {
  background: white;
  width: 74px;
  height: 223px;

  border: 1px solid #c4c4c4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recent-list-slide {
  display: block;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 40px;
  height: 129px;
  background: yellowgreen;
  overflow: hidden;
}

.recent-list-item img {
  width: 40px;
  margin-bottom: 4px;
  display: block;
  position: relative;
}

.recent-list-slide {
  display: block;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 40px;
  height: 129px;
  background: yellowgreen;
  overflow: hidden;
}

.recent-list-button-prev {
  width: 18px;
  height: 18px;
  top: 8px;
  border: none;
  background-image: url(../assets/icons/Direction=Up.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px 18px;
  position: absolute;
  z-index: 100;
}
.recent-list-button-next {
  width: 18px;
  height: 18px;
  bottom: 8px;
  border: none;
  background-image: url(../assets/icons/Direction=Down.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px 18px;
  position: absolute;
  z-index: 100;
}

/* 푸터 */
.footer {
  height: 737px;
  background-color: beige;
}
/* 배너 */
.banner {
  background-color: bisque;
  height: 370px;
}
