@import url(./reset.css);
@import url(./normalize.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url(./color.css);
@import url(./fontello.css);

/* 숨김 컨텐츠 */
.a11y-hidden,
legend {
  background-color: red;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

html {
  font-size: 16px;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 공통 바디 스타일 */
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 공통 */
.new::after {
  content: "N";
  position: relative;
  margin-left: 3px;
  top: -20px;
  color: #fa622f;
  font-size: 7px;
  font-weight: 900;
}

.new {
  font-weight: normal;
  color: rgb(181, 181, 181);
  font-size: 18px;
}

.new:hover {
  color: var(--primary);
  font-weight: inherit;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 1050px;
  margin: 0 auto;
}

/* 공통버튼 */
button {
  font-size: 14px;
  color: var(--content);
  cursor: pointer;
  text-transform: none;
  background-color: transparent;
  font: inherit;
  margin: 0;
}

/* 탑 광고*/

input:focus {
  outline: none;
}
.topAd {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  background-color: var(--primary);
  height: 50px;
}
.topAd a {
  text-align: center;
  width: 100%;
  font-size: 16px;
  color: var(--white);
}

.adClose {
  right: 22%;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  border: none;
  background-color: inherit;
}
/* 헤더 */

.header {
  padding-top: 12px;
  font-family: "Pretendard";
  font-size: 21.328px;

  position: relative;
  display: flex;
  justify-content: space-between;
  height: 125px;
}

.main-navigation {
  padding: 0;
  gap: 12px;
  font-weight: 600;
  display: flex;
  color: var(--gray400);
}

.main-navigation li:first-child {
  margin-top: 38px;
}
.main-navigation li:nth-child(2) {
  color: var(--primary);
}
.main-navigation li:nth-child(2)::after {
  margin-left: 12px;
  color: #d9d9d9;
  font-size: 16px;
  content: "ㅣ";
}
.header li {
  margin-top: 45px;
}
.search {
  margin-top: 20px;
  margin-left: 50px;
  position: relative;
}
.search input {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 21.328px;
  line-height: 160%;
  padding-left: 20px;
  color: var(--gray400);

  width: 400px;
  height: 60px;
  border: 2px solid var(--primary);
  border-radius: 5px;
}
.search input:focus {
  color: black;
}
.search-button {
  color: var(--primary);
  cursor: pointer;
  background-color: inherit;
  top: 17px;
  border: 0;
  right: 20px;
  position: absolute;
}
.right-navigation {
  gap: 12px;
  display: flex;
}
.right-navigation a {
  font-size: 24px;
  height: 24px;
}

.right-navigation img:hover {
  filter: invert(11%) sepia(100%) saturate(5229%) hue-rotate(285deg)
    brightness(59%) contrast(112%);
}

.top-navigation {
  font-weight: 400;
  font-size: 12px;
  gap: 6px;
  top: -28px;
  right: 0;
  display: flex;
  position: absolute;
}
.topMenu li:first-child {
  color: var(--primary);
}
.topMenu :nth-child(2)::after,
.topMenu li:first-child::after {
  color: #d9d9d9;
  margin-left: 6px;
  content: "ㅣ";
}

/* 네비게이션 */
.nav-center {
  height: 72px;
  width: 1050px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.category,
.small-category {
  width: 100px;
  height: 75px;
  font-weight: 600;
  line-height: 150%;
  margin: 0px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
}

.hamburger {
  padding-right: 12px;
}

.category-icon {
  width: 24px;
  height: 24px;
  margin: 4px 8px 4px 12px;
}

.category:hover,
.small-category:hover {
  color: var(--primary);
}

.hamburger {
  transform: translate(0, -18%);
}

.hamburger:hover {
  filter: invert(11%) sepia(100%) saturate(5229%) hue-rotate(285deg)
    brightness(59%) contrast(112%);
}

.category-list {
  position: absolute;
  top: 238px;
  background-color: var(--white);
  width: 247px;
  display: none;
  z-index: 100;
}

.small-category-list {
  position: absolute;
  top: 70px;
  background-color: var(--white);
  width: 247px;
  display: none;
}

/* .category-list:hover{
  display: block;
} */

.category-list li:hover {
  background-color: var(--gray100);
}

.category-menu:hover {
  color: var(--primary);
}

.category-menu {
  display: flex;
  align-items: center;
  height: 40px;
  font-weight: 600;
  line-height: 150%;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.menu-list {
  width: 150px;
  font-weight: 600;
  color: var(--content);
  text-align: center;
}

.menu-list:hover {
  color: var(--primary);
  text-decoration: underline;
}

.delivery {
  border: 1px solid var(--gray300);
  border-radius: 40px;
  padding: 4px 8px;
  font-size: 12.003px;
  font-weight: 400;
  line-height: 160%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 9px;
}

.delivery-color {
  color: var(--primary);
}

.nav-small {
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
  position: sticky;
  top: 0;
  background: var(--white);
  z-index: 100;
}

.nav-small-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav-small-menu {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.nav-small-search {
  position: relative;
}

.input-search {
  margin-right: 15px;
}

.nav-small-search input {
  font-weight: 400;
  font-size: 12.003px;
  line-height: 160%;
  color: var(--gray400);
  width: 193px;
  height: 36px;
  border: 2px solid var(--primary);
  border-radius: 5px;
  padding-left: 10px;
}

.nav-small-search-button {
  position: absolute;
  color: var(--content);
  cursor: pointer;
  background-color: inherit;
  top: 5px;
  border: 0;
  right: 14px;
  font-size: 21px;
}

.right-navigation {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* 라인배너 css */
.line-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 219px;
}

.line-banner1 {
  width: 1050px;
  max-height: 100%;
}

/* 팝업 css */
.popup {
  /* background-color: rgb(33, 19, 92); */
  display: none;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  /* display: none; */
}

.popup-link {
  cursor: pointer;
}

.popup-img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.popup-button {
  margin: -4px auto;
  width: 440px;
  height: 86px;
  display: flex;
}

.popup-button-left {
  background-color: rgb(255, 255, 255);
  border: none;
  flex: 1;
  width: 50%;
  cursor: pointer;
  border-bottom-left-radius: 20px;
}

.popup-button-right {
  background-color: rgb(255, 255, 255);
  flex: 1;
  border: none;
  border-left: 2px solid rgba(0, 0, 0, 0.122);
  width: 50%;
  cursor: pointer;
  border-bottom-right-radius: 20px;
  display: inline;
}

/* 메인 */
.main {
  width: 1050px;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* 메인 SWIPER 상품 추천 리스트 */

.special-deal-list-container,
.recommend-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1000;

  /* height: 320px; */
}

.recommend-list-swiper-wrapper,
.special-deal-list-swiper-wrapper {
  position: relative;
  display: flex;
  z-index: 150;
}

.special-deal-list-swiper-slide,
.product-list-item {
  /* position: relative; */
  flex-direction: row;
  flex-shrink: 0;
  overflow: hidden;
}

.product-thumbnail img {
  display: block;
  width: 249px;
}

.recommend-list-next,
.special-deal-list-next {
  background: url(../assets/icons/arrow.svg) 54% 50% no-repeat;
  transform: translateY(-50%);
  background-color: white;
  position: absolute;
  border: none;
  top: 50%;
  right: -25px;
  height: 52px;
  width: 52px;
  z-index: 100;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.03),
    0px 0px 4px rgba(0, 0, 0, 0.08);
}

.recommend-list-prev,
.special-deal-list-prev {
  background: url(../assets/icons/arrow.svg) 54% 50% no-repeat;
  transform: translateY(-50%) rotate(180deg);
  position: absolute;
  border: none;
  background-color: white;
  top: 50%;
  left: -25px;
  height: 52px;
  width: 52px;
  z-index: 100;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.03),
    0px 0px 4px rgba(0, 0, 0, 0.08);
}

.recommend-list-next:hover,
.special-deal-list-next:hover,
.recommend-list-prev:hover,
.special-deal-list-prev:hover {
  /* background-image: url(../assets/icons/arrow\ hover.svg); */
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.284995 17.699C0.455221 17.8731 0.683135 17.9791 0.925979 17.9972C1.16882 18.0152 1.40991 17.944 1.604 17.797L1.69899 17.715L9.69899 9.89798C9.87118 9.72974 9.97689 9.50504 9.99673 9.26513C10.0166 9.02523 9.9492 8.78621 9.80699 8.59198L9.72699 8.49598L2.004 0.313979C1.82947 0.128878 1.59095 0.0172553 1.33701 0.00183905C1.08307 -0.0135772 0.832807 0.0683727 0.637168 0.231001C0.441529 0.39363 0.315228 0.62471 0.283984 0.87719C0.25274 1.12967 0.318903 1.38457 0.468997 1.58998L0.548995 1.68598L7.598 9.15498L0.300994 16.285C0.126863 16.4552 0.0208302 16.6831 0.00278759 16.926C-0.015255 17.1688 0.055932 17.4099 0.202994 17.604L0.284995 17.699Z' fill='%235F0080'/%3E%3C/svg%3E%0A");
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.18), 0px 1px 2.5px rgba(0, 0, 0, 0.08),
    0px 0px 6px rgba(0, 0, 0, 0.1);
  /* transition: 0.3s; */
}
.next::after,
.prev::after {
  display: none;
}

.recommend-list-swiper,
.special-deal-list-siwper {
  width: 1050px;
  margin: 40px 0 40px 0;
}
.special-price-product-list {
  /* display: flex; */
  width: 1050px;
  /* height: 601px; */
  /* display: flex-box;
  flex-direction: column;
  align-items: center; */
  background-color: skyblue;
}

.recommend-list-swiper-wrapper,
.special-deal-list-swiper-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.recommend-product-title,
.special-deal-list-title {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 28.43px;
  line-height: 140%;
  color: var(--content);
  margin-top: 52px;
}
.product-thumbnail {
  position: relative;
  width: 249px;
}

.product-thumbnail img {
  display: block;
}
.cart-button {
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: transparent;
  background-image: url(../assets/icons/Icon/Cart.svg);
  border: none;
  right: 15px;
  bottom: 17px;
  display: block;
  cursor: pointer;
}
#cart1 {
  border: none;
}

.product-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.product-info h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-top: 16px;
  color: var(--content);
}

.selling {
  font-weight: 600;
  font-size: 21.328px;
  line-height: 150%;
}

.discount-rate {
  color: var(--accent);
}

.price del {
  font-weight: 400;
  font-size: 12.003px;
  line-height: 160%;
  color: var(--gray400);
  margin-top: 8px;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 8px;
}

.line-banner {
  margin: 40px 0 40px 0;
}

main .swiper-button-disabled {
  display: none;
}

.recent-product-list .swiper-button-disabled {
  opacity: 0.45;
}

/* aside 최근 본 상품 영역 */

.recent-product-list {
  width: 74px;
  height: 223px;
  border: 1px solid var(--gray200);
  padding: 34px 0 8px 0;
  top: 50%;
  right: 2%;
  position: fixed;
  background-color: white;
  z-index: 1000;
}

.recent-list-title {
  font-weight: 600;
  font-size: 12.003px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 8px;
}
.recent-list-container {
  width: 40px;
  height: 129px;
  margin: 0 17px 0 17px;
  overflow: hidden;
}

.recent-product-list-wrap {
  height: 129px;
}

.recent-list-slide img {
  width: 40px;
  height: 51.41px;
  display: block;
}

.recent-list-slide {
  background: black;
}
.recent-list-button-prev,
.recent-list-button-next {
  width: 18px;
  height: 18px;
  left: 28px;
  align-content: center;
  border: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px 18px;
  position: absolute;
  z-index: 100;
  background-color: transparent;
}

.recent-list-button-prev {
  background-image: url(../assets/icons/Direction=Up.svg);
  top: 8px;
}

.recent-list-button-next {
  background-image: url(../assets/icons/Direction=Down.svg);
  bottom: 8px;
}

/* Add Cart 장바구니 팝업 */

.add-cart-content {
  position: fixed;
  top: 32%;
  left: 50%;
  transform: translateX(-50%);
  width: 396px;
  height: 296px;
  background-color: white;
  border-radius: 16px;
  padding: 24px 20px;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.add-cart-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--content);
  margin-bottom: 12px;
}

.price-per-unit {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--black);
  margin-bottom: 28px;
}

.total-cost-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--black);
  padding-top: 16px;
}
.price-quantity {
  display: flex;
  justify-content: space-between;
}

.add-cart-quantity {
  width: 84px;
  height: 30px;
  display: flex;
  border: 1px solid #c4c4c4;
}
#add-cart-result {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  padding: 0 8px 0 8px;
  line-height: 30px;
}
.in-number {
  width: 24px;
}
.save-point {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  margin-bottom: 28px;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4px;
}
.add-cart-quantity button {
  width: 30px;
  height: 30px;
}
.add-cart-total {
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
}
.total em {
  font-weight: 700;
  font-size: 28.43px;
  line-height: 140%;
}
.save-point-sticker {
  display: flex;
  width: 37px;
  height: 18px;
  background: #fa622f;
  padding: 0px 8px;
  margin-top: 3px;
  font-weight: 600;
  font-size: 12.003px;
  line-height: 150%;
  color: white;
}

.save-point-detail {
  display: flex;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: black;
  margin-left: 12px;
}

/* Add Cart Button */

.in-cart-button {
  display: flex;
  justify-content: space-between;
}

#close {
  width: 174px;
  height: 54px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid var(--gray400);
  /* margin-right: 8px; */
}

#in-cart {
  width: 174px;
  height: 54px;
  background-color: var(--primary);
  border-radius: 4px;
  border: none;
  color: var(--white);
}

.add-quantiy,
.minus-quantity {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
}

/* 장바구니 팝업 모달  */

.add-cart-hidden {
  display: none;
}

.add-cart-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1900;
}

/* add cart 장바구니 담기  */

.cart-bubble {
  position: absolute;
  width: 260px;
  height: 100px;
  right: 0px;
  top: 118px;
  display: flex;
  align-items: center;
  background-color: var(--white);
  display: none;
  border-radius: 0.4em;
  border: 1px solid var(--gray200);
  padding: 20px;
  z-index: 2000;
}

.cart-bubble::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 235px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: var(--gray100);
  border-top: 0;
  margin-top: -10px;
}

.cart-bubble img {
  width: 46px;
  height: 60px;
  margin-right: 24px;
}

.cart-bubble-item-name {
  font-weight: 600;
  font-size: 12.003px;
  padding-bottom: 8px;
  color: var(--gray300);
}

.cart-bubble-item-input {
  font-weight: 600;
  font-size: 12.003px;
  color: var(--content);
}

.cart-button {
  border: 0;
  background-color: transparent;
}

/* 푸터 */
.footer {
  padding-top: 30px;
  border-top: 1px solid rgb(247, 247, 247);
  height: auto;
  text-align: left;
}

.footer-main {
  width: 1050px;
  margin: 0 auto;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding-bottom: 30px;
}

.footer-right {
  display: flex;
  flex-direction: column;
}

.footer-header {
  padding-bottom: 17px;
  font-weight: 500px;
  font-size: 20px;
  line-height: 29px;
}

.footer-call {
  display: block;
  padding-bottom: 20px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
}

.footer-day {
  margin-left: 8px;
  font-weight: normal;
  font-size: 16px;
}

.footer-ask {
  display: flex;
  flex-direction: column;
}

/* 버튼 공통 스타일 */
.ask-button {
  display: block;
  width: 140px;
  height: 40px;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 3px;
  line-height: 39px;
  text-align: center;
  margin-right: 16px;
  margin-bottom: 16px;
}

/* 디바이더 공통 스타일 */
.divider {
  margin: 0px 6px;
}

/* 설명 공통 스타일 */
.describe {
  margin-top: 2px;
  color: rgb(153, 153, 153);
  letter-spacing: -0.5px;
  line-height: 16.8px;
}

.footer-kakao {
  display: flex;
  flex-direction: row;
}

.footer-one {
  display: flex;
  flex-direction: row;
}

.footer-big {
  display: flex;
  flex-direction: row;
}

.not-member {
  font-size: 12px;
  line-height: 18px;
  color: rgb(153, 153, 153);
}

.footer-list {
  display: flex;
  width: 100%;
  padding-bottom: 29px;
  font-size: 14px;
}

.li-list {
  margin-left: 14px;
}
.inner-list1 {
  margin-left: 0px;
}

.inner-list5 {
  font-weight: 500;
}

.footer-confirm {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgb(153, 153, 153);
  margin-bottom: 40px;
}

.confirm {
  padding-left: 4px;
}

.a-confirm {
  margin-left: 3px;
  color: rgb(95, 0, 128);
}

.footer-image-link {
  display: flex;
}

.a-image-link img {
  display: block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 26px 0px 33px;
  border-top: 1px solid rgb(238, 238, 238);
}

.footer-bottom button {
  overflow: visible;
  background-color: transparent;
  border: none;
}

.footer-bottom-button {
  display: flex;
  text-align: left;
}

.footer-bottom-button img {
  width: 34px;
  margin-right: 10px;
}

.toss-button img {
  width: 102px;
  margin-right: 10px;
}

.footer-button-text {
  font-size: 10px;
  line-height: 14.5px;
  color: rgb(153, 153, 153);
  word-break: break-word;
}

.copyright {
  display: block;
  padding: 20px 0px 30px;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  background-color: rgb(247, 247, 247);
  color: rgb(153, 153, 153);
}

.copyright-em {
  display: block;
  padding-top: 7px;
  font-style: normal;
}
