@import url(./reset.css);
@import url(./normalize.css);
@import url(./fontello.css);
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');



/* 기본 스타일 */


*,
*::before,
*::after {
  box-sizing: border-box;
}
li{
  list-style: none;
}
html {
  
  font-size: 10px;
}
input:focus{
  outline:none;
}
.maincolor{
  color: #5F0080;
}
button{
  border:0;
  background-color: inherit;
  cursor: pointer;
}
/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 공통 */
body{
  font-family: 'Pretendard';
}
.a11y-hidden, fieldset {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.center{
  display: flex;
 justify-content: center;
 text-align: center;
 width: 1050px;
 margin:0 auto;
 /* margin: 0 435px; */
}
/* 탑 광고*/
.TopAd{
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
 
  background-color: #5F0080;
  height: 50px;
  
}
.TopAd a{
  
  text-align: center;
  width: 100%;
  font-size: 16px;
  color: #FFFFFF;
}


.AdClose{
  right:22%;
  position: absolute;
  z-index: 100;
 
 border: none;
 background-color: inherit;
}
/* 헤더 */
.header{
 
  font-family: 'Pretendard';
  font-size: 21.328px;
  /* padding-top:68px; */
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 125px;
}

.MainBanner{
  padding:0;
  gap:12px;
  font-weight: 600;
  display: flex;
  color: #898989;
}

/* .MainBanner li,input{
  transform : translate(0, -50%);
} */
.MainBanner li:first-child{
  margin-top:38px;
}
.MainBanner li:nth-child(2){
  color: #5F0080;
}
.MainBanner li:nth-child(2)::after{
  margin-left:12px;
  color: #D9D9D9;
  font-size:16px;
  content:"ㅣ"
}
.header li{
  margin-top:45px;
}
.search{
  margin-top:30px;
  margin-left:50px;
  position: relative;
}
.search input{
 font-family: 'Pretendard';
font-style: normal;
font-weight: 400;
font-size: 21.328px;
line-height: 160%;
padding-left: 20px;
  color: #898989;;


  width:400px;
  height: 60px;
 border: 2px solid #5F0080;
 border-radius: 5px;
}
.SearchButton{
  cursor: pointer;
  background-color: inherit;
  top:18px;
  border: 0;
  right:25px;
  position:absolute;
}
.RightBanner{
  
  gap:12px;
  display:flex;
}
.RightBanner a{
  font-size: 24px;
  height: 24px;
}
.RightBanner a:hover{
  color:#5F0080;
}

.TopMenu{

  font-weight: 400;
  font-size: 12px;
  gap:6px;
  top:-40px;
  right:0;
  display: flex;
  position: absolute;
}
.TopMenu li:first-child{
  color: #5F0080;
}
.TopMenu :nth-child(2)::after,.TopMenu li:first-child::after{
  color: 
  #D9D9D9;
  margin-left:6px;
  content:'ㅣ'
}

/* 네비게이션 */
.navCenter{
  height: 72px;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  width: 1050px;
  margin:0 auto;
}

.category{
  width: 84px;
}


.menu{
  display: flex;
  justify-content: space-between;
  width: 600px;

}

.menuList{
  width: 150px;
  background-color: yellow;
  text-align: center;
}



/* 메인 */
.main{
  height: 1421px;
  background-color: aquamarine;
}

/* 푸터 */
.footer{
  height:737px;
  background-color: beige;
}
/* 배너 */
.banner{
  background-color: bisque;
  height: 370px;
  width: 1050px;
  margin:0 auto;
}