@import url(./reset.css);
@import url(./normalize.css);
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url(./color.css);
@import url(./fontello.css);

/* 숨김 컨텐츠 */
.a11y-hidden, legend {
  background-color: red;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

html {
  font-size: 16px;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    display:none;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 기본 스타일 */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

/* 공통 바디 스타일 */
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 공통 */
.new::after{
  content:'N';
  position: relative;
  margin-left:3px;
  top:-20px;
  color:#FA622F;
  font-size: 7px;
  font-weight: 900;
}

.new {
  font-weight: normal;
  color: rgb(181, 181, 181);
  font-size: 18px;
}

.new:hover{
  color: #5F0080;
  font-weight: inherit;
}

.center{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 1050px;
  margin:0 auto;
 /* margin: 0 435px; */
}

/* 공통버튼 */
button {
  font-size: 14px;
  color: #333;
  cursor: pointer;
  text-transform: none;
  background-color: transparent;
  font: inherit;
  margin: 0;
}

/* 탑 광고*/

input:focus{
  outline:none;
}
.topAd{
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  background-color: #5F0080;
  height: 50px;
  
}
.topAd a{
  
  text-align: center;
  width: 100%;
  font-size: 16px;
  color: #FFFFFF;
}


.adClose{
  right:22%;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  border: none;
  background-color: inherit;
}
/* 헤더 */

.header{
  padding-top: 12px;
  font-family: 'Pretendard';
  font-size: 21.328px;

  position: relative;
  display: flex;
  justify-content: space-between;
  height: 125px;
}

.main-navigation{
  padding:0;
  gap:12px;
  font-weight: 600;
  display: flex;
  color: #898989;
}

/* .MainBanner li,input{
  transform : translate(0, -50%);
} */
.main-navigation li:first-child{
  margin-top:38px;
}
.main-navigation li:nth-child(2){
  color: #5F0080;
}
.main-navigation li:nth-child(2)::after{
  margin-left:12px;
  color: #D9D9D9;
  font-size:16px;
  content:"ㅣ"
}
.header li{
  margin-top:45px;
}
.search{
  margin-top:20px;
  margin-left:50px;
  position: relative;
}
.search input{
 font-family: 'Pretendard';
font-style: normal;
font-weight: 400;
font-size: 21.328px;
line-height: 160%;
padding-left: 20px;
  color: #898989;;


  width:400px;
  height: 60px;
  border: 2px solid #5F0080;
  border-radius: 5px;
}
.search input:focus{
  color:black;

}
.search-button {
  color: #5F0080;
  cursor: pointer;
  background-color: inherit;
  top:17px;
  border: 0;
  right:20px;
  position:absolute;
}
.right-navigation{
  
  gap:12px;
  display:flex;
}
.right-navigation a{
  font-size: 24px;
  height: 24px;
}

/* .right-navigation img{
  fill: #5F0080;
} */

.right-navigation img:hover{
  filter: invert(11%) sepia(100%) saturate(5229%) hue-rotate(285deg) brightness(59%) contrast(112%);
}

.top-navigation{
  
  font-weight: 400;
  font-size: 12px;
  gap:6px;
  top:-28px;
  right:0;
  display: flex;
  position: absolute;
}
.topMenu li:first-child{
  color: #5F0080;
}
.topMenu :nth-child(2)::after,.topMenu li:first-child::after{
  color: 
  #D9D9D9;
  margin-left:6px;
  content:'ㅣ'
}

/* 네비게이션 */
.nav-center{
  height: 72px;
  width: 1050px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;
}

.category, .small-category{
  width: 100px;
  height: 75px;
  font-weight: 600;
  line-height: 150%;
  margin: 0px;
  display: flex;
  align-items: center;
  background-color:transparent;
  border: 0;
  
}

.hamburger{
  padding-right: 12px;
}


.category-icon{
  width: 24px;
  height: 24px;
  margin: 4px 8px 4px 12px;
}

.category:hover,
.small-category:hover{
  color: var(--primary);
}

.hamburger {
  transform: translate(0, -18%);
}

.hamburger:hover{
  filter: invert(11%) sepia(100%) saturate(5229%) hue-rotate(285deg) brightness(59%) contrast(112%);
}

.category-list{
  position: absolute;
  top: 238px;
  background-color: var(--white);
  width: 247px;
  display: none;
  z-index: 100;
} 

.small-category-list {
  position: absolute;
  top: 70px;
  background-color: var(--white);
  width: 247px;
  display: none;
}

/* .category-list:hover{
  display: block;
} */
  
.category-list li:hover{
  background-color: var(--gray100);
  }

.category-menu:hover{
  color: var(--primary);
}

.category-menu{
  display: flex;
  align-items: center;
  height: 40px;
  font-weight: 600;
  line-height: 150%;
}



.menu{
  display: flex;
  justify-content: space-between;
  width: 600px;

}

.menu-list{
  width: 150px;
  font-weight: 600;
  color: var(--content);
  text-align: center;
}

.menu-list:hover{
  color: var(--primary);
  text-decoration: underline;
  
}

.delivery{
  border: 1px solid var(--gray300);
  border-radius: 40px;
  padding: 4px 8px;
  font-size: 12.003px;
  font-weight: 400;
  line-height: 160%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 9px;
}

.delivery-color{
  color: var(--primary);
}

.nav-small{
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
  position: sticky;
  top: 0;
  background: var(--white);
  z-index: 100;
}

.nav-small-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;


}

.nav-small-menu{
  display: flex;
  justify-content: space-between;
  width: 600px;
}
.nav-small-search{
  position: relative;
}

.nav-small-search input{
  font-weight: 400;
  font-size: 12.003px;
  line-height: 160%;
  color: var(--gray400);
  width: 170px;
  height: 36px;
  border: 2px solid var(--primary);
  border-radius: 5px;
  padding-left: 10px;


}


.nav-small-search-button{
  position:absolute;
  color: var(--content);
  cursor: pointer;
  background-color: inherit;
  top:8px;
  border: 0;
  right:0px;

}

.right-navigation{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}


/* 라인배너 css */
.line-banner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 219px;
}

.line-banner1{
  width: 1050px;
  max-height: 100%;
}


/* 팝업 css */
.popup{
  /* background-color: rgb(33, 19, 92); */
  display: flex;
  flex-flow:column;
  justify-content: center;
  text-align: center;
  top:0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  /* display: none; */
}

.popup-link{
  cursor: pointer;
}

.popup-img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.popup-button{
    margin: -4px auto;
    width: 440px;
    height: 86px;
    display: flex;

}
  
.popup-button-left{
    background-color: rgb(255, 255, 255);
    border: none;
    flex: 1;
    width: 50%;
    cursor: pointer;
    border-bottom-left-radius: 20px;
  }
  
  .popup-button-right{
    background-color: rgb(255, 255, 255);
    flex: 1;
    border: none;
    border-left: 2px solid rgba(0, 0, 0, 0.122);
    width: 50%;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    display: inline;
}





/* 메인 */
.main{
  height: 1421px;
  background-color: aquamarine;
}

/* 푸터 */
.footer {
  padding-top: 30px;
  border-top: 1px solid rgb(247,247,247);
  height:auto;
  text-align: left;
}

.footer-main {
  width : 1050px;
  margin : 0 auto;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding-bottom: 30px;
}

.footer-right {
  display: flex;
  flex-direction: column;
}

.footer-header {
  padding-bottom: 17px;
  font-weight: 500px;
  font-size: 20px;
  line-height: 29px;
}

.footer-call {
  display: block;
  padding-bottom: 20px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
}

.footer-day {
  margin-left: 8px;
  font-weight: normal;
  font-size: 16px;
}

.footer-ask {
  display: flex;
  flex-direction: column;
}

/* 버튼 공통 스타일 */
.ask-button {
  display: block;
  width: 140px;
  height: 40px;
  border: 1px solid rgb(236,236,236);
  border-radius: 3px;
  line-height: 39px;
  text-align: center;
  margin-right: 16px;
  margin-bottom: 16px;
}

/* 디바이더 공통 스타일 */
.divider{
  margin: 0px 6px;
}

/* 설명 공통 스타일 */
.describe {
  margin-top: 2px;
  color: rgb(153,153,153);
  letter-spacing: -0.5px;
  line-height: 16.8px;
}

.footer-kakao {
  display: flex;
  flex-direction: row;
}

.footer-one {
  display: flex;
  flex-direction: row;
}

.footer-big {
  display: flex;
  flex-direction: row;
}

.not-member {
  font-size: 12px;
  line-height: 18px;
  color: rgb(153,153,153);
}

.footer-list {
  display: flex;
  width: 100%;
  padding-bottom: 29px;
  font-size: 14px;
}

.li-list {
  margin-left: 14px;
}
.inner-list1 {
  margin-left: 0px;
}


.inner-list5 {
  font-weight: 500;
}

.footer-confirm {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgb(153,153,153);
  margin-bottom: 40px;
}

.confirm {
  padding-left: 4px;
}

.a-confirm {
  margin-left: 3px;
  color: rgb(95,0,128);
}

.footer-image-link {
  display: flex;
}

.a-image-link img{
  display: block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  padding: 26px 0px 33px;
  border-top: 1px solid rgb(238,238,238);
}

.footer-bottom button {
  overflow: visible;
  background-color: transparent;
  border: none;
}

.footer-bottom-button {
  display: flex;
  text-align: left;
}

.footer-bottom-button img {
  width: 34px;
  margin-right: 10px;
}

.toss-button img{
  width: 102px;
  margin-right: 10px;
}

.footer-button-text {
  font-size: 10px;
  line-height: 14.5px;
  color: rgb(153,153,153);
  word-break: break-word;
}

.copyright {
  display: block;
  padding: 20px 0px 30px;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  background-color: rgb(247,247,247);
  color: rgb(153, 153, 153);
}

.copyright-em {
  display: block;
  padding-top: 7px;
  font-style: normal;
}