@import url(./reset.css);
@import url(./normalize.css);
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/* 숨김 컨텐츠 */
.a11y-hidden, legend {
  background-color: red;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

html {
  font-size: 10px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 기본 스타일 */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 공통 바디 스타일 */
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 공통 */
.center{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1050px;
  margin:0 auto;
 /* margin: 0 435px; */
}
/* 헤더 */
.header{
  height: 125px;
  background-color: antiquewhite;
}
/* 네비게이션 */
.navigation{
  height: 72px;
  background-color: aqua;
}
/* 메인 */
.main{
  height: 1421px;
  background-color: aquamarine;
}

/* 푸터 */
.footer{
  height:737px;
  background-color: beige;
}
/* 배너 */
.banner{
  background-color: bisque;
  height: 370px;
}