
.container {
  width: 100%;
  height: 100%;
}

.swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.swiper-button-prev{ 
  background: url(./img/Arrow.png) 50% 50% no-repeat;
  height: 52px;
  width: 52px;
  margin: 146px 1518px 172px 350px;
}

.swiper-button-next{
  background: url(./img/Arrow.png)  no-repeat;
  transform: rotate(180deg);
  height: 52px;
  width: 52px;
  
}

.swiper-button-next::after,
.swiper-button-prev::after{
  display: none;
}

img {
  background-size: 1920px 370px;
}


