@import url(./normalize.css);
@import url(./reset.css);


.container {
  width: 1920px;
  height: 370px;
}

.swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.swiper-button-prev{ 
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: -10;
  background: url(./img/Arrow.png) 50% 50% no-repeat;
  height: 52px;
  width: 52px;
  margin: auto 0px auto 590px;
}

.swiper-button-next{
  background: url(./img/Arrow.png)  no-repeat;
  transform: rotate(180deg);
  height: 52px;
  width: 52px;
  
}

.swiper-button-next::after,
.swiper-button-prev::after{
  display: none;
}

img {
  /* background-size: 1920px 370px; */
  /* object-fit: cover; */
  background-position: center;
}


