@import url(./normalize.css);
@import url(./reset.css);


.container {
  width: 1920px;
}

.swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.swiper-button-prev{ 
  background: url(./img/Arrow.png) 50% 50% no-repeat;
  transform: rotate(180deg);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 50%;
  height: 52px;
  width: 52px;
  margin: auto 0px auto 590px;
}

.swiper-button-next{
  background: url(./img/Arrow.png)  no-repeat;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 50%;
  height: 52px;
  width: 52px;
  margin: auto 590px auto 0px
  
}

.swiper-button-next::after,
.swiper-button-prev::after{
  display: none;
}



