@import url(/client/css/normalize.css);
@import url(/client/css/reset.css);


.bigBannerContainer {
  width: 100%;
  height: 370px;
}

.swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}




.swiper-button-next{ 
  background: url(/client/css/img/Arrow.png) 50% 50% no-repeat;
  transform: rotate(180deg);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 50%;
  height: 52px;
  width: 52px;
  margin: auto 0px auto 590px;
}

.swiper-button-prev{
  background: url(/client/css/img/Arrow.png) no-repeat;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 50%;
  height: 52px;
  width: 52px;
  margin: auto 590px auto 0px;
  left : auto;  
}

.swiper-button-next::after,
.swiper-button-prev::after{
  display: none;
}



