@import url(../css/reset.css);
@import url(../css/normalize.css);
@import url(../css/fontello.css);
@import url(../css/color.css);
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/* 숨김 컨텐츠 */
.a11y-hidden, legend {
  background-color: red;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

html {
  
  font-size: 16px;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    display:none;
}

/* 기본 스타일 */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}
/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}
/* 공통 바디 스타일 */
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
/* 공통 */
.new::after{
  content:'N';
  position: relative;
  margin-left:3px;
  top:-20px;
  color:#FA622F;
  font-size: 7px;
  font-weight: 900;
}
.new {
  font-weight: normal;
  color: rgb(181, 181, 181);
  font-size: 18px;
}
.new:hover{
  color: #5F0080;
  font-weight: inherit;
}
.center{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 1050px;
  margin:0 auto;
}
/* 공통버튼 */
button {
  font-size: 14px;
  color: #333;
  cursor: pointer;
  text-transform: none;
  background-color: transparent;
  font: inherit;
  margin: 0;
}

li{
  list-style: none;
}
input:focus{
  outline:none;
  color:black;
}
.maincolor{
  color: #5F0080;
}
button{
  border:0;
  background-color: inherit;
  cursor: pointer;
}

/* 탑 광고*/

input:focus{
  outline:none;
}
.topAd{
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
 
  background-color: #5F0080;
  height: 50px;
  
}
.topAd a{
  
  text-align: center;
  width: 100%;
  font-size: 16px;
  color: #FFFFFF;
}


.adClose{
  right:22%;
  position: absolute;
  z-index: 100;
 cursor: pointer;
 border: none;
 background-color: inherit;
}
/* 헤더 */

.header{
  padding-top: 12px;
  font-family: 'Pretendard';
  font-size: 21.328px;

  position: relative;
  display: flex;
  justify-content: space-between;
  height: 125px;
}

.main-navigation{
  padding:0;
  gap:12px;
  font-weight: 600;
  display: flex;
  color: #898989;
}

/* .MainBanner li,input{
  transform : translate(0, -50%);
} */
.main-navigation li:first-child{
  margin-top:38px;
}
.main-navigation li:nth-child(2){
  color: #5F0080;
}
.main-navigation li:nth-child(2)::after{
  margin-left:12px;
  color: #D9D9D9;
  font-size:16px;
  content:"ㅣ"
}
.header li{
  margin-top:45px;
}
.search{
  margin-top:20px;
  margin-left:50px;
  position: relative;
}
.search input{
 font-family: 'Pretendard';
font-style: normal;
font-weight: 400;
font-size: 21.328px;
line-height: 160%;
padding-left: 20px;
  color: #898989;;


  width:400px;
  height: 60px;
 border: 2px solid #5F0080;
 border-radius: 5px;
}
.search input:focus{
  color:black;

}
.search-button{
  color: #5F0080;
  cursor: pointer;
  background-color: inherit;
  top:24px;
  border: 0;
  right:20px;
  position:absolute;
}
.rightNavigation{
  
  gap:12px;
  display:flex;
}
.rightNavigation a{
  font-size: 24px;
  height: 24px;
}

.rightNavigation img{
  fill: #5F0080;
}

.right-navigation img:hover{
  filter: invert(11%) sepia(100%) saturate(5229%) hue-rotate(285deg) brightness(59%) contrast(112%);
}

.top-navigation{
  
  font-weight: 400;
  font-size: 12px;
  gap:6px;
  top:-28px;
  right:0;
  display: flex;
  position: absolute;
}
.topNavigation li:first-child{
  color: #5F0080;
}
.topNavigation :nth-child(2)::after,.topNavigation li:first-child::after{
  color: 
  #D9D9D9;
  margin-left:6px;
  content:'ㅣ'
}
/* 네비게이션 */
.nav-center{
  height: 72px;
  width: 1050px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;
}

.category, .small-category{
  width: 100px;
  height: 75px;
  font-weight: 600;
  line-height: 150%;
  margin: 0px;
  display: flex;
  align-items: center;
  background-color:transparent;
  border: 0;
  
}

.hamburger{
  padding-right: 12px;
}


.category-icon{
  width: 24px;
  height: 24px;
  margin: 4px 8px 4px 12px;
}

.category:hover,
.small-category:hover{
  color: var(--primary);
}

.hamburger {
  transform: translate(0, -18%);
}

.hamburger:hover{
  filter: invert(11%) sepia(100%) saturate(5229%) hue-rotate(285deg) brightness(59%) contrast(112%);
}

.category-list{
  position: absolute;
  top: 238px;
  background-color: var(--white);
  width: 247px;
  display: none;
  z-index: 100;
} 

.small-category-list {
  position: absolute;
  top: 70px;
  background-color: var(--white);
  width: 247px;
  display: none;
}

/* .category-list:hover{
  display: block;
} */
  
.category-list li:hover{
  background-color: var(--gray100);
  }

.category-menu:hover{
  color: var(--primary);
}

.category-menu{
  display: flex;
  align-items: center;
  height: 40px;
  font-weight: 600;
  line-height: 150%;
}



.menu{
  display: flex;
  justify-content: space-between;
  width: 600px;

}

.menu-list{
  width: 150px;
  font-weight: 600;
  color: var(--content);
  text-align: center;
}

.menu-list:hover{
  color: var(--primary);
  text-decoration: underline;
  
}

.delivery{
  border: 1px solid var(--gray300);
  border-radius: 40px;
  padding: 4px 8px;
  font-size: 12.003px;
  font-weight: 400;
  line-height: 160%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 9px;
}

.delivery-color{
  color: var(--primary);
}

.nav-small{
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
  position: sticky;
  top: 0;
  background: var(--white);
  z-index: 100;
}

.nav-small-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;


}

.nav-small-menu{
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.nav-small-search{
  position: relative;
}

.input-search {
  margin-right: 15px;
}

.nav-small-search input{
  font-weight: 400;
  font-size: 12.003px;
  line-height: 160%;
  color: var(--gray400);
  width: 193px;
  height: 36px;
  border: 2px solid var(--primary);
  border-radius: 5px;
  padding-left: 10px;


}


.nav-small-search-button{
  position:absolute;
  color: var(--content);
  cursor: pointer;
  background-color: inherit;
  top:11px;
  border: 0;
  right:26px;
  font-size: 21px;

}

.right-navigation{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* 메인 */
.id-input{
  position: relative;  
}

.alert-error{
  position: absolute;
  left: 23%;
  bottom: -27px;
  /* margin: 10px 0 5px 0; */
  color: red;
  font-size: 12px;
  margin-bottom: 3px;
}

.alert-error.deactive{
  display: none;
}

.check-container{
  position: relative;  
}

.alert-error-email{
  position: absolute;
  left: 23%;
  bottom: -27px;
  /* margin: 10px 0 5px 0; */
  color: red;
  font-size: 12px;
  margin-bottom: 3px;
}

.alert-error-email.deactive{
  display: none;
}


/*
.alert-error{
  display: none;
  color: red;
  font-size: 12px;
  margin-bottom: 3px;
}

.alert-error.is-active{
  color: red;
  font-size: 12px;
  margin-bottom: 3px;
}
*/

button:disabled{
  cursor: not-allowed;
  background: #111 !important;
  color: #a8aab8;
}
.register-tip{
  bottom: 0;
  right:0;
  position: absolute;
 text-align: right; 
 font-weight: 600;
font-size: 12.003px;
}
.main{
 
  background: linear-gradient(to bottom, #eee 0%, #fff 1%, #fff 100%);
  width: 100%;
  padding-top:80px;
}
.register-header{
  position: relative;
  font-weight: 600;
font-size: 21.328px;
padding-bottom: 50px;
border-bottom: 2px black solid;
}
.register-list button{
  
  font-weight: 600;
 font-size: 16px;
}
.register-list li:first-child{
  margin-top:20px;
}
.register-list li{
  font-weight: 600;
  font-size: 16px;

 
  display: flex;
  width: 640px;
  margin-bottom: 40px;
  /* height: 40px; */

}
.register-list li p{
  display: flex;
  align-items: center;
  
  text-align: left;
  width:147.5px;
}
.register-list li input{
  padding-left: 20px;
}
.register-list li button{
  color:#5F0080;
  font-weight: 600;
  border:2px #5F0080 solid;
}
.side-button-size{
  font-weight: 600;
  border-radius: 4px;
  width: 143px;
  margin-left:10px;
}



.button-size {
  border:1px gray solid;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 333px;
height: 44px;
}
.register-button{
  
  margin: 0 auto;
  margin-top:40px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width:340px;
  height: 54px;
  border-radius: 4px;
  font-weight: 600;
  color:#ffffff;
  background-color: #5F0080;
  border:#5F0080
}

.important::after{
  content:'*';
  position: relative;
  margin-left:3px;
  top:-10px;
  color:#FA622F;
  font-size: 12px;
  font-weight: 900;
}
.adress-list{
 position: relative;
}
.adress-list span{
 position: absolute;
 bottom:-20px;
 left: 147px;
 font-weight: 400;
font-size: 12.003px;
}
.register-tip::before{
  content:'*';
  position: relative;
  top:-2px;
  color:#FA622F;
  font-size: 12px;
  font-weight: 900;
}
.gender-wrapper{
  
  
  width:333px;
  display: flex;
  justify-content: space-between;
}
.gender-wrapper label input,.plus-wrapper label input{
  margin-right:8px;

}
.plus-wrapper{
  width:333px;
  display: flex;
  justify-content: space-between;
}
/* 개인정보동의 */
.use-agreement{
  border-top: 2px black solid;
  border-bottom: 1px gray solid;
  display: flex;
  flex-flow: row;
  margin-bottom:0;
}

#use-agreement{
  margin-bottom: 0;
}
#use-agreement-header{
  display:block;

  margin-top:28px;
  width:130px;
}

.use-agreement-list input{
    
    margin-right:6px;
}
.use-agreement-list li{
  margin-bottom: 25px;
  width:480px;
  height: 30px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  
}
.use-agreement-list li p{
  
  font-weight: 400;
  font-size: 16px;
  margin-top:0;
  width:360px;
}
.use-agreement-list li a{
  margin-right: 30px;
  color: #5F0080;
  font-weight: 400;
font-size: 12.003px;
}
.use-agreement-list li:first-child span{
  font-weight: 400;
  font-size: 12.003px;
  color: #898989;
 
  position: absolute;
  top:24px;
  left:0;
}

.use-agreement-list li:first-child{
  margin-top:20px;
}
.use-agreement-list li:first-child p{
  
  position: relative;
  width:480px;
  font-weight: 600;
  font-size: 21.328px;
}
label{
  display:flex;
  align-items: center;
}

/* input 인데 클래스 check2를 가진 인풋 */
input[class="check2"]{
  display:none;
}

input[class="check2"] + label em{
  display:inline-block;
  width: 24px;
  height: 24px;
  background:url(../assets/icons/input_icon/isSelected=false.svg) 0 0 no-repeat ;
  margin-right: 3px;
}
input[class="check2"]:checked + label em{
  background:url(../assets/icons/input_icon/isSelected=true.svg) 0 0 no-repeat;
}

input[class="all-check"],input[class="sub-check"]{
  display:none;
}
input[class="all-check"] + label em,input[class="sub-check"] + label em{
  display:inline-block;
  width: 24px;
  height: 24px;
  background:url(../assets/icons/input_icon/isChecked=false.svg) 0 0 no-repeat ;
  margin-right: 8px;
}
input[class="all-check"]:checked + label em,input[class="sub-check"]:checked + label em{
  background:url(../assets/icons/input_icon/isChecked=true.svg) 0 0 no-repeat;
}
/* 푸터 */
.footer {
  padding-top: 30px;
  border-top: 1px solid rgb(247,247,247);
  height:auto;
  text-align: left;
}

.footerMain {
  width : 1050px;
  margin : 0 auto;
}

.footerInner {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding-bottom: 30px;
}

.footerRight {
  display: flex;
  flex-direction: column;
}

.footerHeader {
  padding-bottom: 17px;
  font-weight: 500px;
  font-size: 20px;
  line-height: 29px;
}

.footerCall {
  display: block;
  padding-bottom: 20px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
}

.footerDay {
  margin-left: 8px;
  font-weight: normal;
  font-size: 16px;
}

.footerAsk {
  display: flex;
  flex-direction: column;
}

/* 버튼 공통 스타일 */
.askButton {
  display: block;
  width: 140px;
  height: 40px;
  border: 1px solid rgb(236,236,236);
  border-radius: 3px;
  line-height: 39px;
  text-align: center;
  margin-right: 16px;
  margin-bottom: 16px;
}

/* 디바이더 공통 스타일 */
.divider{
  margin: 0px 6px;
}

/* 설명 공통 스타일 */
.describe {
  margin-top: 2px;
  color: rgb(153,153,153);
  letter-spacing: -0.5px;
  line-height: 16.8px;
}

.footerKakao {
  display: flex;
  flex-direction: row;
}

.footerOne {
  display: flex;
  flex-direction: row;
}

.footerBig {
  display: flex;
  flex-direction: row;
}

.notMember {
  font-size: 12px;
  line-height: 18px;
  color: rgb(153,153,153);
}

.footerList {
  display: flex;
  width: 100%;
  padding-bottom: 29px;
  font-size: 14px;
}

.liList {
  margin-left: 14px;
}
.innerList1 {
  margin-left: 0px;
}


.innerList5 {
  font-weight: 500;
}

.footerConfirm {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgb(153,153,153);
  margin-bottom: 40px;
}

.confirm {
  padding-left: 4px;
}

.aConfirm {
  margin-left: 3px;
  color: rgb(95,0,128);
}

.footerImageLink {
  display: flex;
}

.aImageLink img{
  display: block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.footerBottom{
  display: flex;
  justify-content: space-between;
  padding: 26px 0px 33px;
  border-top: 1px solid rgb(238,238,238);
}

.footerBottom button {
  overflow: visible;
  background-color: transparent;
  border: none;
}

.footerBottomButton {
  display: flex;
  text-align: left;
}

.footerBottomButton img {
  width: 34px;
  margin-right: 10px;
}

.tossButton img{
  width: 102px;
  margin-right: 10px;
}

.footerButtonText {
  font-size: 10px;
  line-height: 14.5px;
  color: rgb(153,153,153);
  word-break: break-word;
}

.copyright {
  padding: 20px 0px 30px;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  background-color: rgb(247,247,247);
  color: rgb(153, 153, 153);
}

.copyrightEm {
  display: block;
  padding-top: 7px;
  font-style: normal;
}

/* 배너 */
.banner{
  background-color: #6B6B6B;
 height: 370px;
}