@import url(../css/reset.css);
@import url(../css/normalize.css);
@import url(../css/fontello.css);
@import url(../css/color.css);
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');



/* 기본 스타일 */


*,
*::before,
*::after {
  box-sizing: border-box;
}
li{
  list-style: none;
}
html {
  
  font-size: 10px;
}
input:focus{
  outline:none;
}
.maincolor{
  color: #5F0080;
}
button{
  border:0;
  background-color: inherit;
  cursor: pointer;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    display:none;
}
/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 공통 */
body{
  font-family: 'Pretendard';
}
input:focus{
  color:black;
}
.a11y-hidden, legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.center{
  display: flex;
 justify-content: center;
 text-align: center;
 width: 1050px;
 margin:0 auto;


 /* margin: 0 435px; */
}

.new::after{
  content:'N';
  position: relative;
  margin-left:3px;
  top:-20px;
  color:#FA622F;
  font-size: 7px;
  font-weight: 900;
}

/* 탑 광고*/

input:focus{
  outline:none;
}
.topAd{
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
 
  background-color: #5F0080;
  height: 50px;
  
}
.topAd a{
  
  text-align: center;
  width: 100%;
  font-size: 16px;
  color: #FFFFFF;
}


.adClose{
  right:22%;
  position: absolute;
  z-index: 100;
 cursor: pointer;
 border: none;
 background-color: inherit;
}
/* 헤더 */

.header{
  padding-top: 12px;
  font-family: 'Pretendard';
  font-size: 21.328px;

  position: relative;
  display: flex;
  justify-content: space-between;
  height: 125px;
}

.main-navigation{
  padding:0;
  gap:12px;
  font-weight: 600;
  display: flex;
  color: #898989;
}

/* .MainBanner li,input{
  transform : translate(0, -50%);
} */
.main-navigation li:first-child{
  margin-top:38px;
}
.main-navigation li:nth-child(2){
  color: #5F0080;
}
.main-navigation li:nth-child(2)::after{
  margin-left:12px;
  color: #D9D9D9;
  font-size:16px;
  content:"ㅣ"
}
.header li{
  margin-top:45px;
}
.search{
  margin-top:20px;
  margin-left:50px;
  position: relative;
}
.search input{
 font-family: 'Pretendard';
font-style: normal;
font-weight: 400;
font-size: 21.328px;
line-height: 160%;
padding-left: 20px;
  color: #898989;;


  width:400px;
  height: 60px;
 border: 2px solid #5F0080;
 border-radius: 5px;
}
.search input:focus{
  color:black;

}
.search-button{
  color: #5F0080;
  cursor: pointer;
  background-color: inherit;
  top:24px;
  border: 0;
  right:20px;
  position:absolute;
}
.rightNavigation{
  
  gap:12px;
  display:flex;
}
.rightNavigation a{
  font-size: 24px;
  height: 24px;
}

.rightNavigation img{
  fill: #5F0080;
}

.right-navigation img:hover{
  filter: invert(11%) sepia(100%) saturate(5229%) hue-rotate(285deg) brightness(59%) contrast(112%);
}

.top-navigation{
  
  font-weight: 400;
  font-size: 12px;
  gap:6px;
  top:-28px;
  right:0;
  display: flex;
  position: absolute;
}
.topNavigation li:first-child{
  color: #5F0080;
}
.topNavigation :nth-child(2)::after,.topNavigation li:first-child::after{
  color: 
  #D9D9D9;
  margin-left:6px;
  content:'ㅣ'
}
/* 네비게이션 */
.nav-center{
  height: 72px;
  width: 1050px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;
}

.category, .small-category{
  width: 100px;
  height: 75px;
  font-weight: 600;
  line-height: 150%;
  margin: 0px;
  display: flex;
  align-items: center;
  background-color:transparent;
  border: 0;
  
}

.hamburger{
  padding-right: 12px;
}


.category-icon{
  width: 24px;
  height: 24px;
  margin: 4px 8px 4px 12px;
}

.category:hover,
.small-category:hover{
  color: var(--primary);
}

.hamburger {
  transform: translate(0, -18%);
}

.hamburger:hover{
  filter: invert(11%) sepia(100%) saturate(5229%) hue-rotate(285deg) brightness(59%) contrast(112%);
}

.category-list{
  position: absolute;
  top: 238px;
  background-color: var(--white);
  width: 247px;
  display: none;
  z-index: 100;
} 

.small-category-list {
  position: absolute;
  top: 70px;
  background-color: var(--white);
  width: 247px;
  display: none;
}

/* .category-list:hover{
  display: block;
} */
  
.category-list li:hover{
  background-color: var(--gray100);
  }

.category-menu:hover{
  color: var(--primary);
}

.category-menu{
  display: flex;
  align-items: center;
  height: 40px;
  font-weight: 600;
  line-height: 150%;
}



.menu{
  display: flex;
  justify-content: space-between;
  width: 600px;

}

.menu-list{
  width: 150px;
  font-weight: 600;
  color: var(--content);
  text-align: center;
}

.menu-list:hover{
  color: var(--primary);
  text-decoration: underline;
  
}

.delivery{
  border: 1px solid var(--gray300);
  border-radius: 40px;
  padding: 4px 8px;
  font-size: 12.003px;
  font-weight: 400;
  line-height: 160%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 9px;
}

.delivery-color{
  color: var(--primary);
}

.nav-small{
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
  position: sticky;
  top: 0;
  background: var(--white);
  z-index: 100;
}

.nav-small-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;


}

.nav-small-menu{
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.nav-small-search{
  position: relative;
}

.input-search {
  margin-right: 15px;
}

.nav-small-search input{
  font-weight: 400;
  font-size: 12.003px;
  line-height: 160%;
  color: var(--gray400);
  width: 193px;
  height: 36px;
  border: 2px solid var(--primary);
  border-radius: 5px;
  padding-left: 10px;


}


.nav-small-search-button{
  position:absolute;
  color: var(--content);
  cursor: pointer;
  background-color: inherit;
  top:11px;
  border: 0;
  right:26px;
  font-size: 21px;

}

.right-navigation{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* 메인 */
.is-active-hidden{
    display:none !important;
}
.main{
 
  background: linear-gradient(to bottom, #eee 0%, #fff 1%, #fff 100%);
  width: 100%;
  
  margin:0 auto;
  display:block;
  text-align: center;
}
.main h2{
  font-weight: 600;
font-size: 21.328px;
padding-top:48px;
margin-bottom:48px;
}
.main-wrapper{
  
  display:flex;
  justify-content: center;
}
label{
  height: 100%;
  display:flex;
  align-items: center;
  
}
.cart-list{
  width: 742px;

}
.credit{
font-size: 16px;
font-weight: 600;
margin-left:33.5px;
width: 284px;
}

.delivery-adders{
  padding: 20px;
}

.addres{
  display: flex;
  align-items: center;
  padding-bottom: 12px;
}

.addres img{
width: 36px;
height: 36px;
}

.user-address{
  text-align: left;
  line-height: 150%;
  padding-bottom: 12px;
}

.delivery-type{
  text-align: left;
  font-weight: 600;
  font-size: 12.003px;
  line-height: 150%;
  color: var(--primary);
  padding-bottom: 12px;
}

.delivery-address-change{
  width: 244px;
height: 44px;
border: 1px solid #5F0080;
border-radius: 4px;
color: var(--primary);
font-weight: 600;
}

.item-count{
  font-weight:400;
  padding: 20px;
  background-color: var(--gray50);

}

.item-pirce,
.item-sale,
.delivery-fee,
.pay,
.point{
  display: flex;
  position: relative;
  width: 244px;
  height: 26px;
  margin-bottom: 16px;
}


.pay{
  padding-top: 32px;
  display: flex;
  align-items: center;
  border-top: 1px dashed var(--gray100)
}


.pay p:nth-child(2){
  font-weight: 700;
font-size: 28.43px;
line-height: 140%;


}

.order-button{
  width: 284px;
height: 44px;
background: var(--primary);
color: var(--white);
margin: 16px 0;
}

.guide{
  text-align: left;
  font-weight: 600;
  font-size: 12.003px;
  line-height: 150%;
  color: var(--gray400);
}


.number{
  position: absolute;
  right: 20px;
}

.won{
  font-weight: 600;
  position: absolute;
  right: 0px;
}

.point{
  display: flex;
  align-items: center;
  justify-content: end;
}

.point-tag{
  width: 37px;
  height: 18px;
  background: var(--accent);
  border-radius: 1px;
  color: var(--white);
  margin-right: 8px;
  font-weight: 600;
  font-size: 12.003px;
  line-height: 150%;
}

.point p:nth-child(2){
  font-weight: 600;
font-size: 12.003px;
}
/* 카트 */
.cart-main-list{
  position: relative;
  width: 100%;
  height: 56px;
  padding: 16px 0px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  border-top: 1px solid #000000;
}
.cart-main-list:first-child{
  border: none;
}
.more-button{
  font-weight: 600;
  position: absolute;
  right:0;
}
.all-delete-button{
  font-weight: 600;
}
.all-delete-button::before{
  content: "ㅣ";
  font-size: 12px;
color: #333333;
margin-right: 6px;
}
input[class="all-check"],input[class="sub-check"]{
  display:none;
}
input[class="all-check"] + label em,input[class="sub-check"] + label em{
  display:inline-block;
  width: 24px;
  height: 24px;
  background:url(../assets/icons/input_icon/isChecked=false.svg) 0 0 no-repeat ;
  margin-right: 5px;
}

input[class="all-check"]:checked + label em,input[class="sub-check"]:checked + label em{
  background:url(../assets/icons/input_icon/isChecked=true.svg) 0 0 no-repeat;
}
.amount-button {
  display: flex;
  align-items: center;
}
.amount-button *{
  justify-content: center;
  display: flex;
  align-items: center;
}
figure{
  width: 345px;
  gap:8px;
  margin-right:8px;
}
.minus-button{
  border:1px solid black;
  border-right: 0;
}
.amount{
  width: 30px;
  border:1px solid black;
  border-left: 0;
  border-right: 0;
}
.plus-button{
  border:1px solid black;
  border-left: 0;
  margin-right:76px;
}
.minus-button,.amount,.plus-button{
  height: 30px;
}
.cart-sub-list li{
  width: 100%;
  height: 118px;
  padding: 20px 0px;
gap: 8px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
}
figure{
  display: flex;
  align-items: center;
}
.price{
  gap:0;
}
.item-won{
 margin-left:-8px;
 margin-right:16px;
}

/* 푸터 */
.footer {
  padding-top: 30px;
  border-top: 1px solid rgb(247,247,247);
  height:auto;
  text-align: left;
}

.footerMain {
  width : 1050px;
  margin : 0 auto;
}

.footerInner {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding-bottom: 30px;
}

.footerRight {
  display: flex;
  flex-direction: column;
}

.footerHeader {
  padding-bottom: 17px;
  font-weight: 500px;
  font-size: 20px;
  line-height: 29px;
}

.footerCall {
  display: block;
  padding-bottom: 20px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
}

.footerDay {
  margin-left: 8px;
  font-weight: normal;
  font-size: 16px;
}

.footerAsk {
  display: flex;
  flex-direction: column;
}

/* 버튼 공통 스타일 */
.askButton {
  display: block;
  width: 140px;
  height: 40px;
  border: 1px solid rgb(236,236,236);
  border-radius: 3px;
  line-height: 39px;
  text-align: center;
  margin-right: 16px;
  margin-bottom: 16px;
}

/* 디바이더 공통 스타일 */
.divider{
  margin: 0px 6px;
}

/* 설명 공통 스타일 */
.describe {
  margin-top: 2px;
  color: rgb(153,153,153);
  letter-spacing: -0.5px;
  line-height: 16.8px;
}

.footerKakao {
  display: flex;
  flex-direction: row;
}

.footerOne {
  display: flex;
  flex-direction: row;
}

.footerBig {
  display: flex;
  flex-direction: row;
}

.notMember {
  font-size: 12px;
  line-height: 18px;
  color: rgb(153,153,153);
}

.footerList {
  display: flex;
  width: 100%;
  padding-bottom: 29px;
  font-size: 14px;
}

.liList {
  margin-left: 14px;
}
.innerList1 {
  margin-left: 0px;
}


.innerList5 {
  font-weight: 500;
}

.footerConfirm {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgb(153,153,153);
  margin-bottom: 40px;
}

.confirm {
  padding-left: 4px;
}

.aConfirm {
  margin-left: 3px;
  color: rgb(95,0,128);
}

.footerImageLink {
  display: flex;
}

.aImageLink img{
  display: block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.footerBottom{
  display: flex;
  justify-content: space-between;
  padding: 26px 0px 33px;
  border-top: 1px solid rgb(238,238,238);
}

.footerBottom button {
  overflow: visible;
  background-color: transparent;
  border: none;
}

.footerBottomButton {
  display: flex;
  text-align: left;
}

.footerBottomButton img {
  width: 34px;
  margin-right: 10px;
}

.tossButton img{
  width: 102px;
  margin-right: 10px;
}

.footerButtonText {
  font-size: 10px;
  line-height: 14.5px;
  color: rgb(153,153,153);
  word-break: break-word;
}

.copyright {
  padding: 20px 0px 30px;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  background-color: rgb(247,247,247);
  color: rgb(153, 153, 153);
}

.copyrightEm {
  display: block;
  padding-top: 7px;
  font-style: normal;
}

/* 배너 */
.banner{
  background-color: #6B6B6B;
 height: 370px;
}